<!DOCTYPE html>
<html lang='en-us'>
  <head>
    <title>Insert New Student</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  
  <body>
    <form method="POST" action="/students" class="col-sm-6 col-sm-offset-3">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="Name">
      </div>
      
      <div class="form-group">
        <label for="age">Name</label>
        <input type="text" id="age" name="age" class="form-control" placeholder="Age">
      </div>

      <div class="form-group">
        <label for="campus">Name</label>
        <input type="text" id="campus" name="campus" class="form-control" placeholder="Campus">
      </div>

      <button type="submit" class="btn btn-success">Save</button>
    </form>
  </body>
</html>